<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VirtualRestoration</title>
    <link rel="stylesheet" href="./css/styleClientcss.css">
</head>
    <body>
        <h1>Bienvenue sur VirtualRestoration</h1>
        <div>
            <form action="/cost" method="post">
                <ul> <h2>entrer les informations du produit que vous compter faire traiter</h2> </ul>
                <ul> <h3>vous devez renseigner: </h3></ul>
                <ul>-le poid de l'objet</ul>
                <ul>-la distance par rapport au centre de traitement</ul>
                <ul>-le prix a l'achat de l'objet</ul>
                <ul> <input type="number" id="0" name="poids" placeholder="poid"> </ul>
                <ul> <input type="number" id="1" name="distance" placeholder="distance"> </ul>
                <ul> <input type="number" id="2" name="prix" placeholder="prix à l'achat"> </ul>
                <ul> <input type="submit" id="submit" value ="cout total"> </ul>
            </form>
        </div>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.store-factory.com%2Fwww.ducotedu-design.com%2Fmedia%2Fmeuble%2520a%2520clapets%2520industriel%2520roneo%252016%2520casier%2520du%2520cote%2520du%2520design10.jpg&f=1&nofb=1"
            width="250" height="200"/>
        <footer>
            <p>Info802 Jacquet Virgile</p>
        </footer>
    </body>
</html> 