<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VirtualRestoration</title>
</head>
    <body>
        <h1>Bienvenue sur VirtualRestoration</h1>
        <div>
            <form action="/cost" method="post">
                <ul> entrer les informations du produit que vous compter faire traiter </ul>
                <ul>vous devez renseigner:</ul>
                <ul>-le poid de l'objet</ul>
                <ul>-la distance par rapport au centre de traitement</ul>
                <ul>-le prix a l'achat de l'objet</ul>
                <ul> <input type="number" id="0" name="poids" placeholder="poid"> </ul>
                <ul> <input type="number" id="1" name="distance" placeholder="distance"> </ul>
                <ul> <input type="number" id="2" name="prix" placeholder="prix à l'achat"> </ul>
                <ul> <input type="submit" id="submit" value ="cout total"> </ul>
            </form>
        </div>

    </body>
</html> 